{% extends "::product.html.twig" %}

{% block title %}AppBundle:Product:category{% endblock %}

{% block content %}
<h1>Liste des categories </h1>
{% for category in categories %}
    
    <a href="{{ path('app_product_list', {"id": category.id}) }}">
        <h3>{{ category.name }}</h3>
    </a>    
{% endfor %}
{% endblock %}
