{% extends "layout.html.twig" %}
{% block content  %}
{% block page_title  %} <h1> Mon profil </h1>{% endblock %}
{% block fos_user_content %}
    {% include "@FOSUser/Profile/show_content.html.twig" %}
{% endblock fos_user_content %}
{% endblock %}


 