{% extends "layout.html.twig" %}
{% block content  %}
{% block page_title  %}       <h1>Connexion</h1>   {% endblock %}
{% block fos_user_content %}
    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
{% endblock fos_user_content %}
{% endblock %}