{% extends "layout.html.twig" %}
{% block content  %}
{% block page_title  %}       <h1>Connexion</h1>   {% endblock %}
{% block fos_user_content %}
    {{ include('FOSUserBundle:Security:login_content.html.twig') }}
    
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Fermer</span></button>
              <h4 class="modal-title" id="myModalLabel">Connexion à BlueSheep</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="{{ path("fos_user_security_check") }}" novalidate="novalidate">
                            {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
                              <div class="form-group">
                                  <label for="username" class="control-label">Nom d'utilisateur</label>
                                  <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" title="Nom d'utilisateur" placeholder="Jean">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Mot de passe</label>
                                  <input type="password" class="form-control" id="password" name="_password" value="" required="required" title="Mot de passe">
                                  <span class="help-block"></span>
                              </div>
                              <div id="loginErrorMsg" class="alert alert-error hide">Erreur de Pseudo ou de mot de passe.</div>
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="_remember_me" id="remember_me">Se souvenir de moi</label>
                                  <p class="help-block">(Si votre connexion est privée)</p>
                              </div>
{#                              <button type="submit" class="btn btn-success btn-block">Login</button>#}
                              <input type="submit" class="btn btn-primary btn-block"  id="_submit" name="_submit" value="Connexion" />
                              <a href="/forgot/" class="btn btn-default btn-block">Aide</a>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Inscrivez-vous ici, c'est <span class="text-success">GRATUIT</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> Voir mes commandes</li>
                          <li><span class="fa fa-check text-success"></span> Renouveller une commande</li>
                          <li><span class="fa fa-check text-success"></span> Sauvegarder mes hobbies</li>
                          <li><span class="fa fa-check text-success"></span> Paiement rapide</li>
                          <li><span class="fa fa-check text-success"></span> Obtenir mon cadeau <small>(nouveau client)</small></li>
                          <li><a href="/read-more/"><u>Voir plus</u></a></li>
                      </ul>
                      <p><a href="/new-customer/" class="btn btn-info btn-block">M'inscrire maintenant !</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock fos_user_content %}
{% endblock %}