{# empty Twig template #}
{% extends "layout.html.twig" %}
{% block title %}Blue Sheep{% endblock %}

{% block content %}
    {% include 'nav.html.twig'  %}
<<<<<<< HEAD
    {% block page_title %} <h1> Connexion </h1> {% endblock %}    
=======
{% block page_title %} Inscription {% endblock %}
  
>>>>>>> master
    {% block fos_user_content %}{% endblock %}
{% endblock %}
